{% extends "base.html" %}
{% block head_title %}Login{% endblock %}

{% block content %}
<section class="form-section">
    <h2 class="section-headline">Login</h2>
    <p class="section-description">
    </p>
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Login</button>
            </p>
        </form>
               <a  href="{% url 'signup' %}">Don't have an account?</a>
         <a  href="{% url 'password_reset' %}">Reset password?</a>
    </div>
</section>
{% endblock %}