{% extends "base.html" %}
{% block head_title %}Forgot Your Password?{% endblock %}

{% block content %}


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="display-3 text-black">Forgot your password?</h2>
                <p class="lead mb-5">Enter your email address below, and we'll email instructions for setting a new
                    one.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-sm height-auto px-4 py-3 btn-primary" type="submit" value="Send me instructions!">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


